<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a.team.works.u22.hal.u22teama">

    <!-- ExifInterface使うための -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 位置情報取得のための -->
    <!-- 位置情報 GPSから -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 位置情報 ネットワークから -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- カメラ起動のための -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- ネットワークアクセス -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--ここを編集で最初のスタート画面変更可能-->
        <activity android:name=".LoginActivity" >
        <!--ここまで-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewProjectPostsConfirmationScreenActivity" />
        <activity android:name=".ProjectDetailActivity" />
        <activity android:name=".NewRegistrationActivity" />
        <activity android:name=".MypageChangeActivity" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".NewProjectPostsScreenActivity" />
        <activity android:name=".TabLayoutCleanActivity"/>
        <activity android:name=".ContentEditActivity"/>
        <activity android:name=".ContentResultActivity"/>
        <activity android:name=".DonationCheckActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".ProjectSearchMapsActivity" />
    </application>

</manifest>